#wrapper {
	width: 980px;
	margin: 0px auto;
	background-color: #000000;
	color: #FFFFFF;
}

	#wrapper .centered {
		text-align: center;
	}

	#wrapper .blue {
		color: blue;
	}
	
h1 {
	color: red;
}
h3 {
	color: yellow;
}